.carrierdetails{
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}
.carrierdetails h1{
    color: #7738f6;
}
.clientdetails h1{
    color: #7738f6;
}
.clientdetails{
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}

/*.carrierdetails{
    padding: 1rem;
    border-radius: 1rem;
    color: #7738f6;
    margin-top: 4%;
<<<<<<< HEAD
    width: 70rem;
=======
    margin-left: 250px;
    width: 150%;
>>>>>>> 529682dc63c7002670ef1023a40d372138311918
    margin-right:1%;
   border: 1px solid grey;
}
.carrierdetails h1{
    color: #7738f6;
    text-align: center;
}
.carrierdetails input{
margin-top: 1%;
}
.carrierdetails label{
margin-top: 1%;
}
.clientdetails{
    padding: 1rem;
    border-radius: 1rem;
    color: #7738f6;
    margin-top: 4%;
<<<<<<< HEAD
    width: 70rem;
=======
    margin-left: 250px;
    width: 150%;
>>>>>>> 529682dc63c7002670ef1023a40d372138311918
    margin-right:1%;
   border: 1px solid grey;
}
.clientdetails h1{
    color: #7738f6;
    text-align: center;
}
.clientdetails input{
margin-top: 1%;
}
.clientdetails textarea{
    margin-top: 1%;
    }
.clientdetails label{
margin-top: 1%;
}*/

