.clientcarriermapping{
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}
.clientcarriermapping h2{
    color: #7738f6;
}


