.fetch2{
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}
.fetch2 h2{
    color: #7738f6;
}
.fetch1 label{
    margin-top: 1%;
}
.fetch2 select{
    margin-top: 1%;
}