.tablesignup{
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}
.tablesignup h1{
    color: #7738f6;
}

/*.tablesignup{
        background-color: #7738f6;
        padding: 1rem;
        border-radius: 1rem;
        color: white;
        margin-top: 1%;
<<<<<<< HEAD
        
        width: 70rem;
=======
        margin-left: 250px;
        width: 150%;
>>>>>>> 529682dc63c7002670ef1023a40d372138311918
        margin-right:1%;
}
.tablesignup h1{
    color: #ebeff2;
}
.tablesignup input{
    margin-top: 1%;
}
.tablesignup label{
    margin-top: 1%;
}
.tablesignup select{
    margin-top: 1%;
}*/
