
  

  .aa-container {
    
    display: flex;
  }
  
  .aa-left {
    position: relative;
    height: 100%;
    width: 50%;
    background: #0859C5;
    display: flex;
    height: 100vh;
  }
  
  .aa-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
  

  .aa-left-content {
    align-self: center;
    padding-left: 50px;
  }
  
  .aa-left-content h1 {
    font-size: 50px;
    color: white;
  }
  
  .aa-btn {
    display: inline-block;
    text-decoration: none;
    width: 150px;
    margin-top: 10px;
    padding: 18px 10px;
    background: white;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    color: #1946d2;
    transition: 0.4s;
  }
  
  .aa-btn:hover {
    background: #1946d2;
    color: white;
  }
  
  .aa-right {
    
    width: 50%;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .aa-right h1 {
    color: #030405;
  }
  
  .aa-p1 {
    color: #b5bdc5;
    font-size: 13px;
    margin-top: 5px;
  }
  
  .aa-form {
    margin-top: 10px;
  }
  
  .aa-input-box {
    height: 55px;
    width: 100%;
    margin: 20px 0px;
    position: relative;
  }
  
  .aa-input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    color: #1946d2;
    border: solid 1.2px #cccccc;
    outline: none;
    border-radius: 5px;
  }
  
  .aa-input-box label {
    position: absolute;
    left: 10px;
    top: -6px;
    width: 60px;
    background: white;
    font-size: 11px;
    color: #1946d2;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.1s;
    padding-left: 5px;
  }
  
  .aa-input:focus + label,
  .aa-input:focus,
  .aa-input:valid + label,
  .aa-input:valid {
    transform: scaleX(1);
    border-color: #1946d2;
  }
  
  .aa-btn-sec {
    width: 100%;
    background: #1946d2;
    padding: 18px 50px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    border: none;
  }