 
.circle-card {
  overflow: hidden;
  transition: border-radius 0.3s ease-in-out;
  height: 150px;  
  width: 150px;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-card img {
  height: 30%; 
  width: 30%;   
  transition: transform 0.3s ease-in-out;  
  margin-left: 110px;
  margin-top: 25px;
}
 
 
 
 

 
